# Template for the .env file used by the backend.
# Rename this file to .env and fill in the required values.

# LOGGING #
LOGGING_LOG_LEVEL=INFO

# PROMETHEUS #
PROMETHEUS_MULTIPROC_DIR=/tmp

# SENTRY #
SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=1.0
