# Template for the docker-compose .env file.
# Rename this file to .env and fill in the required values.

# AUTH #
# Notes
#
# 1. Run 'openssl rand -base64 48' in terminal to generate a value for AUTH_RSA_PASSPHRASE.
# 2. Set AUTH_TOKEN_ISSUER to "https://tokens.dev"/"https://tokens.prod" for dev/prod environments.
# 3. AUTH_JWKS_URI points to the JWKS URI at the service name (i.e., "api")
AUTH_AUDIENCE=MCP_Demo_Server
AUTH_JWKS_FN=jwks.json
AUTH_JWKS_URI=http://api:8000/auth/jwks.json
AUTH_ROTATION_KEEP_LAST_N=2
AUTH_RSA_PASSPHRASE=
AUTH_TOKEN_ISSUER=https://tokens.dev
AUTH_TOKEN_REFRESH_TTL=2592000
AUTH_TOKEN_TTL=900

# CADDY #
# Notes
#
# 1. Set CADDY_DOMAIN_NAME to "dev.localhost"/"prod.localhost" for dev/prod environments.
CADDY_BACKEND_ROOT_API=/api
CADDY_BACKEND_ROOT_MCP=/mcp
CADDY_DOMAIN_NAME=dev.localhost
CADDY_HTTP_PORT=80
CADDY_HTTPS_PORT=443
CADDY_UDP_PORT=8443

# CHAT #
CHAT_ENV=dev

# CROSS-SITE REQUEST FORGERY #
# Notes
#
# 1. Run `openssl rand -base64 32` in terminal to generate a value for CSRF_SECRET_KEY.
CSRF_SECRET_KEY=

# DOCKER #
DOCKER_CADDY_IMAGE=caddy:2.7.6
DOCKER_LITELLM_IMAGE=ghcr.io/berriai/litellm:main-v1.63.14-stable
DOCKER_PG_VECTOR_IMAGE=pgvector/pgvector:pg16
DOCKER_REDIS_IMAGE=redis:6.0-alpine

# FASTAPI #
# Notes
#
# 1. Set FASTAPI_ENV to "dev"/"prod" for dev/prod environments.
FASTAPI_ENV=dev
FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=8000

# FASTMCP #
FASTMCP_HOST=0.0.0.0
FASTMCP_MOUNT_PATH=mcp
FASTMCP_PORT=8100
FASTMCP_TRANSPORT=http

# LITELLM #
# Notes
#
# 1. All model names come under "openai/..." and correspond to the "model_name" in the
# proxy config.yaml. "openai/..." is needed since the proxy presents a unified
# OpenAI-style API for all of its endpoints.
#
# 2. The API key is required but we just need a dummy key. The actual OPENAI_API_KEY is
# set in the LiteLLM proxy container.
LITELLM_API_KEY=dummy-key
LITELLM_ENDPOINT=http://litellm:4000
LITELLM_MODEL_CHAT=openai/chat
LITELLM_MODEL_DEFAULT=openai/default
LITELLM_MODEL_EMBEDDING=openai/embedding
LITELLM_PORT=4000

# LOGGING #
LOGGING_LOG_LEVEL=INFO

# MODELS #
MODELS_LLM=openai/gpt-4o

# OPENAI #
OPENAI_API_KEY=sk-...

# PATHS #
# 1. Do NOT include trailing slashes in the paths.
PATHS_PROJECT_DIR=/Users/tzz/Projects/private/idi/MCPDemo
PATHS_SECRETS_DIR=/Users/tzz/Projects/private/idi/MCPDemo/secrets

# POSTGRES #
POSTGRES_ASYNC_API=asyncpg
POSTGRES_DB=mcp_demo
POSTGRES_DB_POOL_SIZE=10
POSTGRES_HOST=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_SYNC_API=psycopg2
POSTGRES_USER=postgres

# PROMETHEUS #
PROMETHEUS_MULTIPROC_DIR=/tmp

# REDIS #
REDIS_PORT=6379
REDIS_URL=redis://redis:6379

# SENTRY #
SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=1.0

# TEXT GENERATION PARAMETERS #
TEXT_GENERATION_DEFAULT='{"frequency_penalty": 0.0, "n": 1, "presence_penalty": 0.0, "temperature": 0.7, "top_p": 0.9}'
TEXT_GENERATION_OPENAI='{"frequency_penalty": 0.0, "n": 1, "presence_penalty": 0.0, "temperature": 0.7, "top_p": 0.9}'
