# Template for the docker-compose .env file.
# Rename this file to .env and fill in the required values.

### DEV ###

# CADDY #
# Keep this empty for local development or if you are not using a reverse proxy.
DEV_CADDY_BACKEND_ROOT_API=/api
DEV_CADDY_BACKEND_ROOT_MCP=/mcp
DEV_CADDY_DOMAIN_NAME=localhost
DEV_CADDY_HTTP_PORT=80
DEV_CADDY_HTTPS_PORT=443
DEV_CADDY_UDP_PORT=8443

# DOCKER #
DEV_DOCKER_CADDY_IMAGE=caddy:2.7.6
DEV_DOCKER_LITELLM_IMAGE=ghcr.io/berriai/litellm:main-v1.63.14-stable
DEV_DOCKER_PG_VECTOR_IMAGE=pgvector/pgvector:pg16
DEV_DOCKER_REDIS_IMAGE=redis:6.0-alpine

# FASTAPI #
DEV_FASTAPI_PORT=8000

# FASTMCP #
DEV_FASTMCP_PORT=8100

# LITELLM #
# Notes
#
# 1. All model names come under "openai/..." and correspond to the "model_name" in the
# proxy config.yaml. "openai/..." is needed since the proxy presents a unified
# OpenAI-style API for all of its endpoints.
#
# 2. The API key is required but we just need a dummy key. The actual OPENAI_API_KEY is
# set in the LiteLLM proxy container.
DEV_LITELLM_API_KEY=dummy-key
DEV_LITELLM_ENDPOINT=http://localhost:4000
DEV_LITELLM_MODEL_CHAT=openai/chat
DEV_LITELLM_MODEL_DEFAULT=openai/default
DEV_LITELLM_MODEL_EMBEDDING=openai/embedding
DEV_LITELLM_PORT=4000

# OPENAI #
DEV_OPENAI_API_KEY=sk-...

# POSTGRES #
DEV_POSTGRES_PORT=5432

# REDIS #
DEV_REDIS_PORT=6379
