{$CADDY_DOMAIN_NAME}:{$CADDY_HTTPS_PORT} {
    # FastAPI
    handle_path {$CADDY_BACKEND_ROOT_API}/* {
        reverse_proxy api:{$FASTAPI_PORT} {

            # Pass the real IP, drop client supplied values
            header_up  -X-Forwarded-For                   # Removes any existing header to prevent IP spoofing
			header_up  X-Forwarded-For   {remote_host}    # Adds the real client's IP (not a proxy’s)
			header_up  X-Real-IP         {remote_host}    # A common header used by many frameworks to detect user IP
			header_up  X-Forwarded-Proto {scheme}         # Tells backend whether the original request was HTTP or HTTPS
            header_up  Authorization     {>Authorization} # Allow client credentials for OAuth flows

            transport http {
                dial_timeout 100s
                read_timeout 100s
                write_timeout 100s
            }
        }
    }

    # FastMCP
    handle_path {$CADDY_BACKEND_ROOT_MCP}/* {
        reverse_proxy mcp:{$FASTMCP_PORT} {

            # Same header hygiene
            header_up  -X-Forwarded-For
			header_up  X-Forwarded-For   {remote_host}
			header_up  X-Real-IP         {remote_host}
			header_up  X-Forwarded-Proto {scheme}

            transport http {
                dial_timeout 100s
                read_timeout 100s
                write_timeout 100s
            }
        }
    }
}
